/*https://ionicframework.com/docs/layout/global-stylesheets*/
/*https://ionicframework.com/docs/utilities/animations*/

.numFaces {
    font-size: 10vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: fit-content;
    block-size: fit-content;
}

.poiple {
    color: var(--ion-color-tertiary);
}

.poiple-two {
    color: var(--ion-color-tertiary-shade);
}

.poiple-background {
    background-color: var(--ion-color-tertiary-shade);
}

.centered {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}